@import '/styles/mixins';

.navbarContainer {
	width: 100%;
	padding: 0 2%;
	height: 4rem;
	margin-top: 0;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.iconsContainer {
	margin-left: 15px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	width: 6rem;
	height: 2.3rem;
	justify-self: flex-start;
	cursor: pointer;

	@include mediumScreen() {
		width: 4rem;
		height: 1.5rem;
		margin: 0;
	}
}

.navItemsContainer {
	width: 35rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mediumScreen() {
		justify-content: center;
	}
}

.linkItem {
	font-size: 1.2rem;
	font-weight: 700;
	width: 6.5rem;
	height: 90%;
	padding: 1rem 0;
	text-align: center;
	cursor: pointer;

		// &:hover {
		// 	@include themify() {
		// 		border-bottom: 3px solid themed($hover);
		// 	}
	
		// }
	
		&.active {
			// transition: all 0.1s;
			border-bottom: 3px solid black;
		}


	@include mediumScreen() {
		display: none;
	}
}

.mobileIcon {
	display: none;
	@media screen and (max-width: 768px) {
		display: flex;
		font-size: 1.8rem;
		cursor: pointer;
		@include themify() {
			color: themed($text);

			&:hover {
				transition: 0.2s ease-in-out;
			}
		}
	}
}

.searchContainer {
	display: inline-flex;
	align-items: center;
	height: 2rem;
}

.searchButton {
	width: 15%;
	height: 100%;
	margin-left: auto;
}

.search {
	height: 100%;
	font-size: 1rem;
	padding: 18px;
	width: 80%;

	@include themify() {
		border: 1px solid themed($border);
	}
}
