@import '../styles/mixins';

.navbarContainer {
	width: 100%;
	padding: 0 2%;
	height: 4rem;
	margin-top: 0;
	position: sticky;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.iconsContainer {
	margin-left: 15px;
	display: inline-flex;
	justify-content: space-between;
	align-items: center;

	@include mediumScreen() {
		margin: 0;
	}
}

.logo {
	width: 6rem;
	height: 2.3rem;
	justify-self: flex-start;
	cursor: pointer;

	@include mediumScreen() {
		display: none;
	}
}

.themeIcon {
	width: 4rem;
	height: auto;
	cursor: pointer;

	@include mediumScreen() {
		width: 3rem;
	}
}

.navItemsContainer {
	width: 35rem;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include mediumScreen() {
		justify-content: center;
	}
}

.linkItem {
	font-size: 1.2rem;
	font-weight: 700;
	width: 6.5rem;
	height: 90%;
	padding: 1rem 0;
	text-align: center;
	cursor: pointer;

	&:hover {
		border-bottom: 4px solid $primary-gray;
		// transition: 0.2s ease-in-out;
		// @include themify() {

		// 	border-bottom: 3px solid themed($text);
		// 	transition: 0.2s ease-in-out;
		// }
	}

	@include mediumScreen() {
		display: none;
	}
}

.activeLinkItem {
	@extend .linkItem;

	// @include themify() {

	// 		border-bottom: 3px solid themed($border);
	// }
	border-bottom: 4px solid $primary-black;
	&:hover {
		border-bottom: 4px solid $primary-black;
	}
}

.mobileIcon {
	display: none;
	@media screen and (max-width: 768px) {
		display: flex;
		font-size: 1.8rem;
		cursor: pointer;
		@include themify() {
			color: themed($text);

			&:hover {
				transition: 0.2s ease-in-out;
			}
		}
	}
}

.searchContainer {
	display: inline-flex;
	align-items: center;
	height: 100%;
	width: 15rem;
}

.searchButton {
	width: 15%;
	height: 50%;
	margin-left: auto;
	display: inline-flex;
	align-items: center;
	border-radius: 25%;
	cursor: pointer;

	@include themify() {
		color: themed($text);
	}
}

.search {
	height: 50%;
	width: 80%;
	font-family: 'IBM Plex Mono', monospace, sans-serif;

	@include themify() {
		border: 1px solid themed($border);
	}
}
